In [1]:
import numpy as np
import glob
import os 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
%matplotlib inline

In [2]:
#df = pd.read_csv('science_&stem_salaries.csv')
df = pd.read_csv('Resources/salary_data_cleaned_final.csv')
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,age,python_yn,R_yn,spark,aws,excel,desc_len,num_comp,job_simp,seniority
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,47,1,0,0,0,1,2536,0,data scientist,na
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,36,1,0,0,0,0,4783,0,data scientist,na
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,10,1,0,1,0,1,3461,0,data scientist,na
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,55,1,0,0,0,0,3883,3,data scientist,na
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,22,1,0,0,0,1,2728,3,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,190,0,0,0,1,0,6162,3,na,senior
738,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,14,1,0,1,1,0,6130,3,data engineer,senior
739,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,36,0,0,0,0,1,3078,0,na,na
740,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,-1,0,0,0,0,1,1642,0,manager,na
741,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,53,1,0,0,0,0,3673,0,na,na

### choose columns

In [ ]:
df.columns

In [3]:
#df_model_avg_salary = df[['avg_salary']] 
df_model = df[['avg_salary','Type of ownership','Sector','job_state','python_yn','spark','aws','excel','job_simp','R_yn','seniority',]]

df_model

,avg_salary,Type of ownership,Sector,job_state,python_yn,spark,aws,excel,job_simp,R_yn,seniority
0,72.0,Company - Private,Aerospace & Defense,NM,1,0,0,1,data scientist,0,na
1,87.5,Other Organization,Health Care,MD,1,0,0,0,data scientist,0,na
2,85.0,Company - Private,Business Services,FL,1,1,0,1,data scientist,0,na
3,76.5,Government,"Oil, Gas, Energy & Utilities",WA,1,0,0,0,data scientist,0,na
4,114.5,Company - Private,Business Services,NY,1,0,0,1,data scientist,0,na
...,...,...,...,...,...,...,...,...,...,...,...
737,84.5,Company - Public,Biotech & Pharmaceuticals,MA,0,0,1,0,na,0,senior
738,102.5,Company - Public,Information Technology,TN,1,1,1,0,data engineer,0,senior
739,73.5,College / University,Education,PA,0,0,0,1,na,0,na
740,127.5,Company - Private,Business Services,PA,0,0,0,1,manager,0,na
741,93.5,Nonprofit Organization,Government,OH,1,0,0,0,na,0,na

In [4]:
le_ownership = LabelEncoder()
df_model['Type of ownership'] = le_ownership.fit_transform(df_model['Type of ownership'])

le_Sector = LabelEncoder()
df_model['Sector'] = le_Sector.fit_transform(df_model['Sector'])

le_job_state = LabelEncoder()
df_model['job_state'] = le_job_state.fit_transform(df_model['job_state'])

le_job_simp = LabelEncoder()
df_model['job_simp'] = le_job_simp.fit_transform(df_model['job_simp'])

le_seniority = LabelEncoder()
df_model['seniority'] = le_seniority.fit_transform(df_model['seniority'])

/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
df_model['Sector'].unique()

array([ 2, 12,  6, 19, 20, 10, 13, 21,  5, 16, 14, 23, 22,  0, 15, 17, 11,
        9,  3, 24, 18,  4,  7,  1,  8])

In [ ]:
df_model['Industry'].unique.summer

In [ ]:
#label Encoder

labelEncoder = preprocessing.LabelEncoder()

# creating a map of all the numerical values of each categorical labels.
mapping_dict={}
for col in df_model:
    df[col] = labelEncoder.fit_transform(df[col])
    le_name_mapping = dict(zip(labelEncoder.classes_, labelEncoder.transform(labelEncoder.classes_)))
    mapping_dict[col]=le_name_mapping
print(mapping_dict)

df_model

In [ ]:
df_model['Type of ownership'].unique()

### get dummy data

In [ ]:
df_dum = pd.get_dummies(df_model)

In [ ]:
df_dum

### train test split

In [24]:
#
from sklearn.model_selection import train_test_split

X = df_model.drop('avg_salary', axis =1)
y = df_model.avg_salary.values

#creating the train set and test set
# we split by .2 meain 20% of the data will be in our test set and the other 80 will be in our train set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [26]:
X

,Type of ownership,Sector,job_state,python_yn,spark,aws,excel,job_simp,R_yn,seniority
0,2,2,24,1,0,0,1,2,0,1
1,7,12,17,1,0,0,0,2,0,1
2,2,6,7,1,1,0,1,2,0,1
3,4,19,35,1,0,0,0,2,0,1
4,2,6,25,1,0,0,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...
737,3,5,16,0,0,1,0,6,0,2
738,3,13,31,1,1,1,0,1,0,2
739,1,9,28,0,0,0,1,6,0,1
740,2,6,28,0,0,0,1,4,0,1
741,6,11,26,1,0,0,0,6,0,1

### mutliple linear regression
#### we will do one in stats models and sklearn model in oreder to compare the two

In [27]:
import statsmodels.api as sm

X_sm = X = sm.add_constant(X)
model = sm.OLS(y,X_sm)
model.fit().summary()

/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.284
Model:                            OLS   Adj. R-squared:                  0.274
Method:                 Least Squares   F-statistic:                     29.01
Date:                Wed, 06 Apr 2022   Prob (F-statistic):           4.58e-47
Time:                        21:46:00   Log-Likelihood:                -3644.0
No. Observations:                 742   AIC:                             7310.
Df Residuals:                     731   BIC:                             7361.
Df Model:                          10
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                72.4854      6.472     11.200      0.000      59.780      85.191
Type of ownership    -2.0899      0.684     -3.055      0.002      -3.433      -0.747
Sector               -0.3777      0.251     -1.507      0.132      -0.870       0.114
job_state            -0.6727      0.110     -6.114      0.000      -0.889      -0.457
python_yn            21.1506      2.683      7.883      0.000      15.883      26.418
spark                 4.3282      3.276      1.321      0.187      -2.104      10.761
aws                   7.5146      3.039      2.473      0.014       1.548      13.481
excel                -3.4199      2.500     -1.368      0.172      -8.327       1.487
job_simp              0.3790      0.627      0.605      0.546      -0.852       1.610
R_yn                -33.0172     23.624     -1.398      0.163     -79.395      13.361
seniority            28.2885      2.662     10.627      0.000      23.063      33.514
==============================================================================
Omnibus:                       83.694   Durbin-Watson:                   1.944
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              141.612
Skew:                           0.736   Prob(JB):                     1.78e-31
Kurtosis:                       4.553   Cond. No.                         441.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
# # importing r2_score module
# from sklearn.metrics import r2_score
# from sklearn.metrics import mean_squared_error
# # predicting the accuracy score
# score=r2_score(y,X_sm)
# print(score)
# print(mean_squared_error(y,X_sm))
# print(np.sqrt(mean_squared_error(y,X_sm)))

In [8]:
# we'll use corss valdation score which takes a sample of data and a valdation 
# set from the model and run it on the sample and evaulate on the valdation set thats held out in other to see if genralized okay
#kinda like a mini train test split to see if the model would do okay

from sklearn.linear_model import LinearRegression, Lasso 
from sklearn.model_selection import cross_val_score      

lm = LinearRegression()
lm.fit(X_train, y_train)

#i want to see the the mean absoulte error to show how far on avg we are off the prediction 
np.mean(cross_val_score(lm,X_train,y_train, scoring = 'neg_mean_absolute_error', cv= 3))

-24.86903973738184

### lasso regression

##### Lasso regression is a type of linear regression that uses shrinkage. Shrinkage is where data values are shrunk towards a central point, like the mean. The lasso procedure encourages simple, sparse models (i.e. models with fewer parameters). Lasso regression is a type of linear regression that uses shrinkage. Shrinkage is where data values are shrunk towards a central point, like the mean. The lasso procedure encourages simple, sparse models (i.e. models with fewer parameters). 

##### As alpha(λ) increases, more and more coefficients are set to zero and eliminated (theoretically, when λ = ∞, all coefficients are eliminated).

#### As λ increases, bias increases.

#### As λ decreases, variance increases.As λ increases, more and more coefficients are set to zero and eliminated (theoretically, when λ = ∞, all coefficients are eliminated).

#### As λ increases, bias increases.

#### As λ decreases, variance increases.

In [9]:
lm_l = Lasso(alpha=0.002)
lm_l.fit(X_train,y_train)
predictions = lm_l.predict(X_test)
np.mean(cross_val_score(lm_l,X_train,y_train, scoring = 'neg_mean_absolute_error', cv= 3))

-24.868791810020753

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix
print(lm_l.score(X_test, y_test))

In [ ]:
 # finding the best alpha value 
 alpha = []
 error = []

 for i in range(1,100):  
     alpha.append(i/500)
     lml = Lasso(alpha=(i/500))
     error.append(np.mean(cross_val_score(lml,X_train,y_train, scoring = 'neg_mean_absolute_error', cv= 3)))
    
 plt.plot(alpha,error)

In [ ]:
 #to find show best alpha with least error
 err = tuple(zip(alpha,error))
 df_err = pd.DataFrame(err, columns = ['alpha','error'])
 df_err[df_err.error == max(df_err.error)]

### random forest
The random forest is a classification algorithm consisting of many decisions trees. It uses bagging and feature randomness when building each individual tree to try to create an uncorrelated forest of trees whose prediction by committee is more accurate than that of any individual treeThe random forest is a classification algorithm consisting of many decisions trees. It uses bagging and feature randomness when building each individual tree to try to create an uncorrelated forest of trees whose prediction by committee is more accurate than that of any individual tree

In [75]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(criterion='mse', max_features='sqrt', n_estimators=280)
rf.fit(X_train,y_train)
np.mean(cross_val_score(rf,X_train,y_train,scoring = 'neg_mean_absolute_error', cv= 20))

/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

-14.575083319176949

In [11]:
from sklearn.metrics import accuracy_score, confusion_matrix
print(rf.score(X_test, y_test))

0.7169443874543345

### tune using gridsearchCSV

In [ ]:
from sklearn.model_selection import GridSearchCV
parameters = {'n_estimators':range(10,300,10), 'criterion':('mse','mae'), 'max_features':('auto','sqrt','log2')}

gs = GridSearchCV(rf,parameters,scoring='neg_mean_absolute_error',cv=3)
gs.fit(X_train,y_train)

gs.best_score_
gs.best_estimator_

In [ ]:
# gs.best_score_

In [33]:
# rf = gs.best_estimator_


y_pred = rf.predict(X_train)

In [34]:
X_train

,Type of ownership,Sector,job_state,python_yn,spark,aws,excel,job_simp,R_yn,seniority
481,2,12,25,0,0,0,1,0,0,1
292,9,5,2,0,0,0,1,6,0,1
349,3,5,25,1,0,0,0,2,0,2
174,3,5,16,0,0,0,1,6,0,2
135,2,6,25,1,1,0,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...
71,3,6,11,1,0,0,1,3,0,1
106,2,13,23,0,0,0,1,0,0,1
270,3,5,16,0,0,0,0,6,0,2
435,2,13,2,1,1,0,1,2,0,1
102,9,9,32,1,0,0,0,2,0,1

In [ ]:
# rf = gs.best_estimator_
# rf.fit()

### test

In [76]:
tpred_lm = lm.predict(X_test)
tpred_lml = lm_l.predict(X_test)
tpred_rf = rf.predict(X_test)

In [38]:
X.drop('const', axis=1)

,Type of ownership,Sector,job_state,python_yn,spark,aws,excel,job_simp,R_yn,seniority
0,2,2,24,1,0,0,1,2,0,1
1,7,12,17,1,0,0,0,2,0,1
2,2,6,7,1,1,0,1,2,0,1
3,4,19,35,1,0,0,0,2,0,1
4,2,6,25,1,0,0,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...
737,3,5,16,0,0,1,0,6,0,2
738,3,13,31,1,1,1,0,1,0,2
739,1,9,28,0,0,0,1,6,0,1
740,2,6,28,0,0,0,1,4,0,1
741,6,11,26,1,0,0,0,6,0,1

In [77]:
X[:, 0] = le_ownership.transform(X[:,0])
X[:, 0] = le_Sector.transform(X[:,0])
X[:, 0] = le_job_state.transform(X[:,0])
X[:, 0] = le_job_simp.transform(X[:,0])
X[:, 0] = le_seniority.transform(X[:,0])
X = X.astpye(float)
X

TypeError: '(slice(None, None, None), 0)' is an invalid key

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,tpred_lm)
#liner model

In [ ]:
mean_absolute_error(y_test,tpred_lml)
#lasso

In [ ]:
mean_absolute_error(y_test,tpred_rf)
#random forest
##best model

In [74]:
#mean_absolute_error(y_test,(tpred_lm+tpred_rf)/2)
print(testmodel)

{'model': RandomForestRegressor(criterion='mse', max_features='sqrt', n_estimators=280), 'le_ownership': LabelEncoder(), 'le_Sector': LabelEncoder(), 'le_job_state': LabelEncoder(), 'le_job_simp': LabelEncoder(), 'le_seniority': LabelEncoder()}

In [84]:
#pickle the model, this makes it useable by other programs without needing to retrained 
import pickle
testmodel = {"model": rf, "le_ownership": le_ownership, "le_Sector": le_Sector, "le_job_state": le_job_state, "le_job_simp": le_job_simp, "le_seniority": le_seniority}
with open('testmodel.pkl', 'wb') as file:
    pickle.dump( pickl, file)

In [85]:
with open('testmodel.pkl', 'rb') as file:
    testmodel = pickle.load(file)

rf_loaded = testmodel["model"]
le_ownership = testmodel["le_ownership"]
le_Sector = testmodel["le_Sector"]
le_job_state = testmodel["le_job_state"]
le_job_simp = testmodel["le_job_simp"]
le_seniority = testmodel["le_seniority"]

y_pred = ((np.array(list(([[2], [4], [2], [0], [0], [0], [1], [0], [0], [1]]))).reshape(1,-1))[0])

y_pred

In [86]:

#test to make sure the model works 
file_name = "model_file.p"
with open(file_name, 'rb') as pickled:
    data = pickle.load(pickled)
    model = data['model']

In [ ]:
import sklearn

In [90]:
testmodel(np.array(list(X_test.iloc[1,:])).reshape(1,-1))[0]

TypeError: 'dict' object is not callable

In [93]:

model.predict(np.array(list(X_test.iloc[1,:])).reshape(1,-1))[0]

/Users/fritz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

52.517857142857146

In [94]:
list(X_test.iloc[1,:])

[2, 4, 2, 0, 0, 0, 1, 0, 0, 1]

NameError: name 'check_array' is not defined